<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>一周作品展示</title>
		<link rel="stylesheet" type="text/css" href="settings/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="settings/css/displayStyle.css">
		<script type="text/javascript" src="settings/js/jquery-latest.js"></script>
		<script type="text/javascript" src="settings/js/popper.min.js"></script>
		<script type="text/javascript" src="settings/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="settings/js/vue.min.js"></script>
		<script type="text/javascript" src="settings/js/displayFunction.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center" style="margin-bottom:0">
			<h1>我的作品</h1>
		</div>
		<div class="container" id="displays">
			<div class="row">
				<div class="col-md-2" id="userInfo" align="center">
					<div class="row">
						<div class="col" style="padding-top: 50px;">
							<img class="rounded-circle img-fluid img-thumbnail" src="settings/head.jpg" />
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>当前展示周:</label>
							<select id="selectedWeek" @change="selectWeek" v-bind:value="choosenWeek">
								<option v-for="n in week" onclick="selectClick()" v-bind:value="n">第{{n}}周</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="weekProgress" style="margin-top: 20px;">当前周进度:</label>
							<span id="weekProgress" class="progress" style="margin-bottom: 20px;">
								<div class="progress-bar" v-bind:style="{width : (day / 7 * 100) + '%'}"></div>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="btn-group-vertical" style="margin-top: 20px;">
								<button id="cmBtn" type="button" class="btn btn-info active" @click="toCarouselMode">轮播模式</button>
								<button id="vmBtn" type="button" class="btn btn-info" @click="toCardMode">浏览模式</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10" style="padding: 50px;">
					<div v-if="carouselMode" id="carouselWindow" class="carousel slide" data-ride="carousel">
						<ul id="picList" class="carousel-indicators">
							<li data-target="#carouselWindow" data-slide-to="0" class="active"></li>
							<li v-for="n in 6" v-if="showList[n]" data-target="#carouselWindow" v-bind:data-slide-to="n"></li>
						</ul>
						<div class="carousel-inner">
							<div v-if="noWork == 7" class="carousel-item">
								<img class="d-block w-100 rounded" src="settings/default.png">
							</div>
							<div v-for="n in 7" v-if="isShown[n-1]" class="carousel-item" v-bind:imgNum="n-1">
								<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+n+".jpg") onerror="countNoWork(this)">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselWindow" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#carouselWindow" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
					<div v-if="cardMode">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期一</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+1+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期二</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+2+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期三</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+3+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期四</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+4+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期五</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+5+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期六</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+6+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-head text-center">星期日</div>
									<div class="card-body" data-toggle="modal" data-target="#cardModal" onclick="viewModal(this)">
										<img class="img-fluid rounded" v-bind:src=("imgs/"+choosenWeek+"/"+7+".jpg") onerror="this.src='settings/default.png'">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="jumbotron text-center" style="margin-bottom:0">
			<p>底部内容</p>
		</div>
		
		<div class="modal fade" id="cardModal">
			<div class="modal-dialog modal-lg" style="width: 70vh;">
				<div class="modal-content">

					<!-- 模态框头部 -->
					<div class="modal-header text-center">
						<h4 class="modal-title" id="modalHeadInfo"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- 模态框主体 -->
					<div class="modal-body" id="modalBodyContent" align="center">
					</div>

					<!-- 模态框底部 -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
